@media screen and (orientation: landscape) {
    #warning {
        text-align: center;
        display: block;
    }

    #mainContainer {
        display: none;
    }
}

@media screen  and (orientation: portrait) {
    #warning {
        display: none;
    }

    #mainContainer {
        display: block;
    }
}

@media (min-width: 1025px) {
    #warning {
        display: none;
    }

    #mainContainer {
        display: block;
    }

}

html, body {

    background-image: radial-gradient(circle, #009900, #000000);
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}


#mainContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: solid #00ff00 1px;
    background-color: #000000;
    max-width: 1000px;

}

#gameContainer {
    display: none;
}

.menu {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

.menu > div {
    margin: 10px;
    padding: 5px 20px 5px 20px;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;
    color: #00ff00;
    background: #000000;
    border: 1px dashed #00ff00;

}


.menu > div:hover {
    background-color: #00ff00;
    color: #000000;
    font-variant: diagonal-fractions;
    animation: glow-over 0.3s linear;
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 255);


}

.menu > div > textarea {
    width: 100%;
    height: 300px;
    resize: none;
}

#quicktutorial {
    text-align: center;
    color: #00ff00;
    display: block;
    animation: none;
    box-shadow: none;
    background-color: black;
}

#target {
    text-align: center;
    color: #00ff00;
    background-color: #000000;
    font-size: 1.5rem;
    animation: none;
    box-shadow: none;

}

#info-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #00ff00;
}
.no-anim{
    background-color: black;
    animation: none;
    box-shadow: none;
}

.info-itm {
    text-align: center;
}

#menu-btn {
    margin-left: auto;
    margin-right: 0px;
    width: 50px;
    height: 50px;
    background-size: 100%;
}


#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

#stage {
    background: #000000;
    height: 100%;
    width: 100%;
    display: none;

}

#objectives {
    text-align: center;
    margin: auto;
}

#stage > Div {
    position: absolute;
    text-align: center;
}

.player {
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 255);
    background-size: 100%;
    background-color: #00ff00;
}

.up_left {
    background-image: url("/img/player_ul.png");
}

.up_right {
    background-image: url("/img/player_ur.png");
}
.up_center {
    background-image: url("/img/player_uc.png");
}

.down_left {
    background-image: url("/img/player_dl.png");
}

.down_right {
    background-image: url("/img/player_dr.png");
}
.down_center {
    background-image: url("/img/player_dc.png");
}

.platform {
    position: absolute;
}

.normalPlatform {
    height: 10px;
    background: white;
    box-shadow: 0px 0px 15px white;

}

.boostPlatform {
    height: 10px;
    background: yellow;
    box-shadow: 0px 0px 15px yellow;
}

.protectionPlatformUsed {
    background: white;
    box-shadow: 0px 0px 15px white;
}

.oneTimePlatform {
    height: 10px;
    background: brown;
    box-shadow: 0px 0px 15px brown;
}

.protectionPlatform {
    height: 10px;
    background: blue;
    box-shadow: 0px 0px 15px blue;
}

.deadlyPlatform {
    height: 10px;
    background: red;
    box-shadow: 0px 0px 15px red;
}

#debug {
    display: none;
}

.protected {
    box-shadow: 0px 0px 15px rgba(0, 0, 255, 255);
    background: #0000ff;
}

#howTo, #credits {
    overflow: auto;
    color: #00ff00;
}


@-webkit-keyframes glow-over {
    from {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
        background-color: #000000;
        color: #00ff00;

    }

    to {
        box-shadow: 0px 0px 15px rgba(0, 255, 0, 255);
        background-color: #00ff00;
        color: #000000;

    }
}