#game {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 800px;
  border: solid black 1px;
}

#info-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: grey;
}

.info-itm {
}

#overlay {
  display:none;
}

#menu {
  display:none;
}

#stage {
  background: blue;
}

#player {
  position: absolute;
  width: 50px;
  height: 50px;
  background: red;
  left: 215px;
  bottom: 60px;
}

.platform {
  position: absolute;
  width: 100px;
  height: 20px;
  background: green; }

  #p1 {
    left: 190px;
    bottom: 40px;
  }
