html,body {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    margin:0;
}

#mainContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: solid black 1px;
    background-color: white;
}

#gameContainer {
    display: none;
}

#menu {
    width: 100%;
    text-align: center;
}
#menu > div{
    padding: 5px 20px 5px 20px;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    background: darkgrey;
    border: 3px solid darkgreen;
}

#info-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

.info-itm {
    text-align: center;
}

#overlay {
    display: none;
}

#stage {
    background: blue;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background: black;
}

#player.icon {
    background: white;
    background-image: url("player.png");
}

.platform {
    position: absolute;
    width: 50px;
    height: 20px;
}

.normalPlatform {
    background: green;
}

.boostPlatform {
    background: yellow;
}

.oneTimePlatform {
    background: brown;
}

.porotectionPlatform {
    background: blue;
}

.deadlyPlatform {
    background: red;
}
  
